@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 26px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    text-decoration: none;
    color: #000;
    vertical-align: middle;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

*{
    font-family: 'Roboto', sans-serif;
    border: 0; padding: 0; margin: 0;
}

header, main{
    padding: 16px;
}

header{
    background-color: grey;
    box-shadow: 0 1px 4px #000;
}

h2{
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}

p, h3{
    text-align: left;
    margin-bottom: 20px;
}

.more-icon{
    float: right;
}

.artist-img{
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.album-img{
    height: 150px;
    display: inline-block;
    cursor: pointer;
    margin: 4px;
}