@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 26px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    vertical-align: middle;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

*{
    font-family: 'Roboto', sans-serif;
    border: 0; padding: 0; margin: 0;
}

h2{
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}

header{
    background-color: grey;
    box-shadow: 0 1px 4px #000;
}

header, main{
    padding: 16px;
}

img, div{
    margin-right: 16px;
    vertical-align: middle;
}

ul{
    list-style: none;
}

li{
    padding: 12px;
}

li:hover{
    background-color: #eee;
    cursor: pointer;
}

div{
    display: inline-block;
}

.circle{
    background-color: grey;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.item-list{
    text-decoration: none;
    color: #000;
    width: 100%;
    height: 32px;
}