@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 26px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    text-decoration: none;
    color: #000;
    vertical-align: middle;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

* {
    font-family: 'Roboto', sans-serif;
    border: 0;
    padding: 0;
    margin: 0;
}

main,
nav {
    margin: auto;
    display: block;
}

header,
main {
    padding: 16px;
}

header {
    background-color: grey;
    box-shadow: 0 1px 4px #000;
}

h2 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}

legend {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}

input[type="text"] {
    outline: 0;
    border-width: 0 0 2px;
    border-color: #000;
    border-style: solid;
    margin-left: 15px;
}

input[type="checkbox"] {
    margin-left: 50px;
    background-color: grey;
}

button {
    border: 2px solid #000;
    border-radius: 2px;
    background: #838383;
    width: 121px;
    height: 35px;
    margin-right: 40px;
    cursor: pointer;
    font-weight: bold;
}

.artista,
.genero {
    border: #000 2px solid;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 15px;
}

.bio {
    border: none;
    border-radius: 6px;
    background-color: #d8d8d8;
    width: 100%;
    height: 120px;
    resize: none;
    outline: none;
    margin-bottom: 15px;
}

.foto {
    display: block;
    margin-bottom: 30px;
}